<li class="resource-block-item">

  {{!-- swipe to see this part --}}
  <div class="minute-counter-container" style="display: none;">
    <div class="buttons-flex">
      <span>
        <button class="counter-btn dec-min disabled"></button>
      </span>
      <span>
        <div class="show-min"><span class="large-minutes-display">5</span></div>
      </span>
      <span>
        <button class="counter-btn inc-min"></button>
      </span>
    </div>
    <div class="minutes-label">tap center circle to book for <span class="minutes-to-book">5</span> minutes.</div>
  </div>

  <div class="resource-info-all-container">
    <div class="resource-label-container">
      <h1>Room 1</h1>
      <div class="additional-info-icons">
        <span class="icn-details"></span>
        <span class="icn-map"></span>
      </div>
    </div>
    <div class="resource-details-container">
      <p>details!</p>
    </div>
    <div class="resource-basic-info-container">
      <span class="until-time">Booked until 4:30pm</span>
      <span class="minute-counter">(23 minutes)</span>
    </div>
  </div>
  
</li>
