{{minute-counter isBooked=isBooked bookRoom=(action 'bookRoom') cancelRoom=(action 'cancelRoom')}}

<div class="resource-info-all-container">
  <button class="icon-list2 resource-icon-details" {{action "toggleDetails"}}></button>
  <div class="resource-label-container">
    <h1>Room 1</h1>
  </div>
  {{#liquid-if showDetails class="resource-details-transition"}}
    <div class="resource-details-container">
      <h2 class="resource-details-header">NEXT EVENT:</h2>
      <p class="resource-details-booked-by">
        Booked by <strong>Tom Netzband</strong> for <strong>Design Review</strong> from <strong>2:00pm - 3:30pm</strong>.
      </p>
      <span class="resource-details-and-then">Then 4:30pm - 4:45pm by Andrew Cox</span>
    </div>
  {{/liquid-if}}
  <div class="resource-basic-info-container">
    <span class="until-time">Booked until 4:30pm</span>
    <span class="minute-counter">(23 minutes)</span>
  </div>
</div>
