//============================================
//   MINUTE COUNTER
//============================================
.resource-minute-counter {
  background: $aqua-dark;

  .is-booked & {
    background: $red-dark;
  }

  .buttons-row {
    display: flex;
    padding: $resource-block-padding;
    margin-bottom: 1rem;

    .counter-btn-container {
      flex: 1;
      text-align: center;
    }

    .counter-btn {
      margin-top: 0.5rem;
      width: 3rem;
      height: 3rem;
      background: $aqua-faded;
      border-radius: 100%;

      &[disabled] {
        opacity: 0.4;
      }
    }

    .current-minutes-display {
      @include droid-sans(700);
      @include font-size(18px);
      margin-top: 0;
      width: 4rem;
      height: 4rem;
      border-radius: 100%;
      background: $aqua-base;
    }
  }

  .message-row {
    @include font-size(10px);
    @include droid-sans(400);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    background: $aqua-faded;
    text-align: center;

    .is-booked & {
      background: $red-faded;
    }
  }
}

//============================================
//   CANCEL
//============================================
.resource-cancel {
  text-align: center;
}

.resource-cancel-button {
  @include droid-sans(700);
  padding: 10px;
  margin: 21px;
  background: $red-faded;
}
