@import 'colors';
@import 'fonts';

$resource-block-padding: 15px 30px;

.resource-block-item {
  display: flex;
  width: 200%;
  background: $aqua-base;
  transform: translateX(-50%);
  transition: transform 0.2s ease-out;

  &.is-booked {
    background: $red-base;
  }

  .resource-info-all-container {
    position: relative;
    flex: 1;
  }

  .resource-minute-counter {
    position: relative;
    flex: 1;
  }
}
//============================================
//   ROOM NAME & ICONS
//============================================
.resource-label-container {
  @include droid-sans(700);
  display: flex;
  align-items: center;
  padding: $resource-block-padding;
  min-height: 53px;
}

.resource-label-header {
  @include font-size(20px);
}

.resource-icon-details {
  position: absolute;
  right: 30px;
  top: 15px;
  padding: 15px;
  background: $aqua-faded;
  border-radius: 100%;

  .is-booked & {
    background: $red-faded;
  }
  
  &.disabled {
    opacity: 0.25;
  }
}

// add this class to other icons
// to transform them into spinners.
.icon-loading {
  animation: ROTATE 0.75s linear infinite;

  &:before {
    content: '\e906' !important;
  }
}

@keyframes ROTATE {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

//============================================
//   DETAILS FLYOUT PANEL
//============================================
.resource-details-container {
  padding: $resource-block-padding;
  background: $aqua-dark;

  .is-booked & {
    background: $red-dark;
  }
}

.resource-details-header {
  @include droid-sans(400);
  @include font-size(12px);
}

.resource-details-booked-by {
  @include font-size(12px);
  line-height: 1.8rem;
}

.resource-details-and-then {
  @include font-size(10px);
}

//============================================
//   BOOKED-UNTIL
//============================================
.resource-basic-info-container {
  padding: $resource-block-padding;
  background: $aqua-faded;

  .is-booked & {
    background: $red-faded;
  }

  .until-time {
    @include droid-serif-italic(400);
  }

  .minute-counter {
    @include font-size(10px);
    @include droid-serif-italic(400);
  }
}
