@import 'colors';

//============================================
//   SIGN IN / SIGN OUT BUTTONS
//============================================

.sign-in-container {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #dbdbdb;
}

.btn-sign-in,
.btn-sign-out {
  display: inline-block;
  background: $red-base;
  padding: 10px 20px;
  margin: auto;
  position: relative;
}

.btn-sign-out {
  width: 100%;
  padding: 20px 0;
}
