<section>
  <ul class="resource-list">
    {{#each model as |resource|}}
      {{resource-block model=resource}}
    {{/each}}
  </ul>
</section>
<button class="btn-sign-out" {{action "invalidateSession"}}>Sign out</button>
